#locationField {
      width: 80%;
      margin: 0 auto 0 auto;
}

#map {
      width: 80%;
      height: 500px;
      margin: 0 auto 0 auto;
}

#listing {
      width: 200px;
      height: 500px;
      overflow: auto;
      cursor: pointer;
      overflow-x: hidden;
}

#resultsTable {
      border-collapse: collapse;
}

#rating {
      font-size: 13px;
      font-family: Arial;
}
  
.iw_table_row {
    height: 18px;
}
  
.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}
  
.iw_table_icon {
    text-align: right;
}

.reset-button {
      text-align: center;
      margin-top: 15px;
}